.sw-table {
    width: fit-content;
    padding: 8px;

    .sw-table-header {
        display: grid;
        grid-auto-flow: column;
    }

    /* Need > to ignore any potential nested table */
    >table {
        color: var(--sw-table-font-color);
        border-collapse: collapse;
        box-shadow: var(--sw-table-box-shadow);
        border: 1px solid var(--sw-table-outer-border);

        tbody tr {
            border-top: 1px solid transparent;

            &:hover {
                color: var(--sw-table-font-color-hover);
                background-color: var(--sw-table-tr-hover);
            }

            &.sw-table-detail-tr-open {
                border-top: 1px solid var(--sw-table-inner-border);
                border-left: 1px solid var(--sw-table-inner-border);
                border-right: 1px solid var(--sw-table-inner-border);

                .sw-table-detail-button .sw-table-icon {
                    transform: rotate(90deg);
                }
            }

        }

        td,
        th {
            padding: 10px;
            vertical-align: middle;
        }

        .sw-table-icon {
            transition: transform .1s ease;
            fill: var(--sw-table-font-color);
        }

        .sw-table-button {
            all: unset;
            user-select: none;
            display: flex;
            align-items: center;
            cursor: pointer;

            &:hover {
                color: var(--sw-table-icon-hover);
                .sw-table-icon {
                    fill: var(--sw-table-icon-hover);
                }
            }
        }

        .sw-table-detail-tr {
            border-bottom: 1px solid var(--sw-table-inner-border);
            border-left: 1px solid var(--sw-table-inner-border);
            border-right: 1px solid var(--sw-table-inner-border);

            td {
                padding: 0px;
            }

        }

    }


    /* Theme colors */
    --sw-table-mint-light: hsla(150, 40%, 85%, 0.2);
    --sw-table-mint-dark: hsla(150, 40%, 55%, 0.2);
    --sw-table-mint-accent: hsla(0, 100%, 40%, 1);

    --sw-table-ice-light: hsla(200, 100%, 90%, 0.2);
    --sw-table-ice-dark: hsla(200, 100%, 70%, 0.2);
    --sw-table-ice-accent: rgb(0, 255, 208);
}

.sw-table[data-sw-table-theme="mint"] {
    /* Mint theme */
    font-family: 'Segoe UI', sans-serif;
    --sw-table-font-color: black;
    --sw-table-font-color-hover: black;
    --sw-table-box-shadow: 0px 2px 2px 2px var(--sw-table-mint-light);
    --sw-table-row-even: var(--sw-table-mint-light);
    /* --sw-table-row-odd: white; */
    --sw-table-tr-hover: var(--sw-table-mint-dark);
    --sw-table-icon-hover: var(--sw-table-mint-accent);
    --sw-table-inner-border: var(--sw-table-mint-accent);
    --sw-table-outer-border: var(--sw-table-mint-dark);
}

.sw-table[data-sw-table-theme="ice"] {
    /* Ice theme */

    /* These themes could be abstracted an extra layer so that it is --sw-table-theme-dark etc.
     But this would be a little more restrictive */
    font-family: 'Georgia', serif;
    --sw-table-font-color: darkblue;
    --sw-table-font-color-hover: red;
    --sw-table-box-shadow: 0px 2px 2px 2px var(--sw-table-ice-light);
    --sw-table-row-even: var(--sw-table-ice-light);
    /* --sw-table-row-odd: white; */
    --sw-table-tr-hover: var(--sw-table-ice-dark);
    --sw-table-icon-hover: var(--sw-table-ice-accent);
    --sw-table-inner-border: var(--sw-table-ice-accent);
    --sw-table-outer-border: var(--sw-table-ice-accent);
}




/* .sw-table-tr-even {
    background-color: var(--sw-table-row-even);
}

.sw-table-tr-odd {
    background-color: var(--sw-table-row-odd);
} */







/* .sw-table-search-wrapper {
    display: grid;
    align-items: center;
    width: fit-content;
} */

/* .sw-table-search-wrapper>svg {
    grid-area: 1/1/1/1;
}

.sw-table-search {
    grid-area: 1/1/1/1;
    padding-left: 25px;
} */